.authPage {
  background-color: var(--dirtyWhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  position: absolute;
  top: -35%;
  left: 35%;
}

.logoTitle {
  margin: 0;
}

.form {
  background-color: var(--white);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  width: 25%;
  padding: 1.5em;
  align-items: end;
  font-size: 0.8em;
}

.switcher {
  width: 100%;
  display: flex;
  background-color: var(--dirtyWhite);
  padding: 1%;
  gap: 2%;
  border-radius: calc(0.5em + 1%);

}
