.dashboard {
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 2em;
  padding: 0 10%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin-bottom: 4em;
}